{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "editorconfig": true
}
